.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row input{
    height: 15px;
    width: auto;
    margin-left: 5px;
}
.column{
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}
.btn-result{
    color: white;
    background: blue;
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 170px;
    align-items: center;
} 