.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-space{
    width: 400px;
}
.input-area{
    width: 1120px;
}
.btn-save{
    width: 270px;
    background: blue;
    color: white;
}
.btn-edit{
    width: 270px;
    background: yellow;
}
.btn-delete{
    width: 270px;
    background: red;
    color: white;
}
.table{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}