nav{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: left;
    border-bottom: 0.5px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
a{
    color: black;
    text-decoration: none;
    margin-right: 50px;

}
.similan{
    margin-left: 200px;
    font-size: 25px;
}