/* .contrainer{
  height: 80px;
  width: auto;
  border-bottom: 0.5px solid gray;
}
.header{
  display: flex;
  margin-top: 15px;
  margin-left: 170px;
  align-items: center;
  width: auto;
}
.header a{
  display: flex;
  margin-left: 30px;
}
 */
